:root {
  --white-color: #ffffff;
  --primary-color: #2d2d2d;
  --second-color:#dc143c;
  --gray-color:#eeebeb;
  --dark-gray-color:#c9c9c9;
}

body {
  margin: 0;
  width: 100%;
  background-color: #658e9e;
  font-size: 16px;
  line-height: 24px;
}
body * {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  font-weight: 600;
}

.w-100 {
  width: 100% !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 16px;
  width: 100%;
}

.fixBtn {
  height: 45px;
  min-width: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--second-color);
  color: var(--white-color);
  padding: 0 24px;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .fixBtn:hover {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
}

header {
  background-color: var(--primary-color);
  border-radius: 10px;
  pad: 10px 30px;
  height: 50px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  color: var(--gray-color);
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s linear;
  padding: 7px 20px;
  border-radius: 4px;
}
@media screen and (min-width: 992px) {
  header nav a:hover {
    color: var(--second-color);
    background-color: var(--gray-color);
  }
}
header nav a.active {
  color: var(--second-color);
  background-color: var(--gray-color);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 80px;
  width: 100%;
}
.boxes .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .boxes .box {
    width: calc(50% - 40px);
  }
}
.boxes .box .boxTitle h2 {
  background-color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
  color: #ccc;
  display: inline-block;
  width: auto;
  padding: 15px 70px 15px 50px;
  -webkit-clip-path: polygon(0px 0%, calc(100% - 0px) 0%, 92% 50%, calc(100% - 0px) 100%, 0px 100%, 8% 50%);
  clip-path: polygon(0px 0%, calc(100% - 46px) 15%, 100% 84%, calc(100% - 68px) 100%, 0px 100%, 0% 50%);
  border-radius: 4px;
  margin-bottom: 14px;
  transform: rotate(2deg);
}
.boxes .box .boxTitle h2 code {
  font-size: 18px;
}
.boxes .box .boxBody {
  background-color: var(--white-color);
  border-radius: 0 60px 60px 60px;
  padding: 50px 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.boxes .box .boxBody .codeTitle {
  font-weight: 600;
  color: var(--second-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.boxes .box .boxBody p {
  font-size: 15px;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 15px;
}
.boxes .box .boxBody p b {
  color: var(--second-color);
}
.boxes .box .boxBody strong {
  font-size: 15px;
  color: var(--second-color);
  font-weight: 600;
  margin-top: 15px;
  display: block;
}
.boxes .box:nth-child(even) .boxTitle {
  margin-left: auto;
}
.boxes .box:nth-child(even) .boxTitle h2 {
  padding: 15px 50px 15px 70px;
  -webkit-clip-path: polygon(46px 15%, calc(100% - 0px) 0%, 100% 50%, calc(100% - 0px) 100%, 68px 100%, 0% 90%);
          clip-path: polygon(46px 15%, calc(100% - 0px) 0%, 100% 50%, calc(100% - 0px) 100%, 68px 100%, 0% 90%);
  transform: rotate(-2deg);
}
.boxes .box:nth-child(even) .boxBody {
  border-radius: 60px 0px 60px 60px;
}
.boxes.full .box {
  width: 100%;
}

:not(pre) code {
  color: var(--second-color);
  background-color: var(--gray-color);
  padding: 4px 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr th {
  font-weight: 600;
  color: var(--second-color);
  background-color: var(--gray-color);
}
table tr td, table tr th {
  border: 1px solid var(--dark-gray-color);
  text-align: left;
  padding: 15px 15px;
}

.dialogOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
}

dialog {
  margin: 0 auto;
  z-index: 999;
}

.dialog {
  margin: 0 auto;
  z-index: 999;
  width: 100%;
  max-width: 700px;
  height: 70vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.8);
  position: fixed;
}
.dialog .closeDialog {
  position: absolute;
  top: -60px;
  right: 0;
}

ul li:not(:first-child) {
  margin-top: 10px;
}
ul li::marker {
  color: var(--second-color);
  font-size: 20px;
}
ul li a {
  color: var(--second-color);
  position: relative;
}
ul li a:after {
  content: "";
  border-bottom: 1px dashed var(--second-color);
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  ul li a:hover:after {
    width: 0;
  }
}