.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 50px;
  width: 100%;
  @media screen and (min-width:992px) {
    gap: 80px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @media screen and (min-width:992px) {
      width: calc(50% - 40px);
      
    }
    .boxTitle {
      h2 {
        background-color: var(--primary-color);
        font-size: 24px;
        font-weight: 700;
        color: #ccc;
        display: inline-block;
        width: auto;
        padding: 15px 70px 15px 50px;
        -webkit-clip-path: polygon(
          0px 0%,
          calc(100% - 0px) 0%,
          92% 50%,
          calc(100% - 0px) 100%,
          0px 100%,
          8% 50%
        );
        clip-path: polygon(
          0px 0%,
          calc(100% - 46px) 15%,
          100% 84%,
          calc(100% - 68px) 100%,
          0px 100%,
          0% 50%
        );
        border-radius: 4px;
        margin-bottom: 14px;
        transform: rotate(2deg);
        code {
          font-size: 18px;
        }
      }
    }
    .boxBody {
      background-color: var(--white-color);
      border-radius: 0 60px 60px 60px;
      padding: 50px 30px;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      @media screen and (max-width:991.98px) {
        padding: 30px 16px;
      }
      .codeTitle {
        font-weight: 600;
        color: var(--second-color);
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        color: var(--primary-color);
        font-weight: 400;
        margin-bottom: 15px;
        b {
          color: var(--second-color);
        }
      }
      strong {
        font-size: 15px;
        color: var(--second-color);
        font-weight: 600;
        margin-top: 15px;
        display: block;
      }
    }
    &:nth-child(even) {
      .boxTitle {
        margin-left: auto;
        h2 {
          padding: 15px 50px 15px 70px;
          clip-path: polygon(
            46px 15%,
            calc(100% - 0px) 0%,
            100% 50%,
            calc(100% - 0px) 100%,
            68px 100%,
            0% 90%
          );
          transform: rotate(-2deg);
        }
      }
      .boxBody {
        border-radius: 60px 0px 60px 60px;
      }
    }
  }
  &.full{
    .box{
      width: 100%;
    }
  }
}
:not(pre) code {
  color: var(--second-color);
  background-color: var(--gray-color);
  padding: 4px 10px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr{
    th{
      font-weight: 600;
      color: var(--second-color);
      background-color: var(--gray-color);
    }
    td, th{
      border: 1px solid var(--dark-gray-color);
      text-align: left;
      padding:15px 15px;
    }
  }
}