header {
  background-color: var(--primary-color);
  border-radius: 10px;
  pad: 10px 30px;
  height: 50px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  nav {
    display: flex;
    gap: 20px;
    a {
      color: var(--gray-color);
      font-size: 16px;
      text-transform: uppercase;
      transition: all 0.3s linear;
      padding: 7px 20px;
      border-radius: 4px;
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--second-color);
          background-color: var(--gray-color);
        }
      }
      &.active {
        color: var(--second-color);
        background-color: var(--gray-color);
      }
    }
  }
}
